@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@300&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'VT323', monospace;
  color: white;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

section {
  min-height: 100vh;

  display: flex;
  align-items:center;
  justify-content: center;

  padding-top: 4rem;
}