* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  color: white;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

section {
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4rem;
}